.back-button {
    background-color: #282c34; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-color: #61dafb;
    border-width: 10px;
    border-radius: .8em;
    cursor: pointer;
}